p= t('devise.mailer.reset_password_instructions.greeting', recipient: @resource.email)
p= t('devise.mailer.reset_password_instructions.instruction')
p= link_to t('devise.mailer.reset_password_instructions.action'), edit_password_url(@resource, reset_password_token: @token)
p= t('devise.mailer.reset_password_instructions.instruction_2')
p= t('devise.mailer.reset_password_instructions.instruction_3')
